# Workshop 1 - Introduction to Python Programming
In this workshop, we explore introductory programming within a programming environment. We will be doing our programming online using Jupyterlab

## Evaluating Expressions
We will start by typing some simple expressions into Python using mathematical operators.
| Operator | Description |
| ----------- | ----------- |
| + | Addition |
| - | Subtraction |
| * | Multiplication |
| / | Division |
| // | Floored division |
| ** | Exponentiation |
| % | Remainder/modulus |

In expressions with multiple operators, it is important for you to understand the order of operations. A full list for Python is provided here: https://docs.python.org/3/reference/expressions.html#evaluation-order.

In [ ]:
# subtraction example
3 - 4

In [ ]:
# multiplication example
4 * 2

In [ ]:
# exponentiation example
5 ** 2

## Comments
You may have noticed that the previous examples contained comments. Comments are sections of code that are not exectuted by a program. Their purpose is to be read by humans, and are helpful in making code easier to understand.

In python, we comment by using the `#` symbol.

In [ ]:
# This is an example comment. Nothing will be output when running this, since it contains no Python commands.

## Calling functions
A function is a named block of code that can be executed by supplying input information (called arguments).

The general syntax for calling a function is: `function_name(argument)`. 

In the event a function has multiple inputs, they are separated by commas `function_name(argument1, argument2, ..., argumentN)`.

Base Python has relatively few functions built in - only 68!. A full list can be found here: https://docs.python.org/3/library/functions.html.

Some useful functions to get started with are given below.
| Function | Description |
| ----------- | ----------- |
| `abs` | Finds the absolute value of the argument |
| `round` | Rounds first argument |
| `max` | Outputs the largest argument |
| `min` | Outputs the smallest argument |
| `sum` | Adds all arguments |
| `print` | Prints object  |
| `help` | Get help documentation for a function/module/class/method/keyword |

In [ ]:
# example function call with 1 input
abs(-10)

In [ ]:
# example function call with multiple inputs
max(5, 2, 3, 9, 0)

In [ ]:
# using the help function for insight on how to use the round function
help(round)

## Importing modules and examples using the math module
We are able to gain access to more functions by importing modules. The syntax for importing a module is:
`import module_name`

Once imported, you can call functions within that module. The syntax for this is: `module_name.function_name(arguments)`.

We will begin by looking at the `math` module. The math module contains the functions you'd expect to find on a scientific calculator, such as elementary functions (eg. $\sin$, $\cos$, $\tan$, $\exp$, $\log$). Documentation is available here: https://docs.python.org/3/library/math.html.

In [ ]:
import math

In [ ]:
# Evaluating sin(45)
math.sin(45)

In [ ]:
# Is the argument in degrees or radians? We can look at the help documentation.

In [ ]:
# How can we convert between degrees and radians?

### Activity 1: Using Python as a calculator
Try using Python and the math module to calculate the values for the following mathematical expressions.
1. $\sin^2(1) + \cos^2(1)$
2. $\log_{10}(100)$
3. $-3 + \cfrac{\sqrt{3^2 - 4 \times 1 \times 2}}{2 \times 2}$

In [ ]:
# insert Q1 answer here

In [ ]:
# insert Q2 answer here

In [ ]:
# insert Q3 answer here

## Variables and assignment
When programming, we usually use assignment statements. These use the assignment operator: `=`. The typical syntax for this is: `variable_name = expression`.

Assignment statements are executed with two distinct steps:
1. Evaluate the expression on the right to a value
2. Assign that value to the variable name given on the left

Once a variable is created this way, its name and value are stored and can be used in expressions. We will discuss assignment in more detail next week.

In [ ]:
# example containing assignment statements
a = 3
b = 10
c = a + b
print(c)

If you refer to a name with no value assigned to it, you will get an error.

In [ ]:
a + d

## Errors
When programming, you are bound to make errors at some point. It is important that you are able to troubleshoot your code to identify and remove these errors. There are two types of errors: syntax errors and semantic errors.

Syntax errors: caused when code does not abide by the rules of the language

Semantic errors: caused when code gives incorrect intructions

Python will pick up syntax errors for you. Semantic errors will often go undetected, so it important to have sound practices in place to help detect semantic errors (eg. using test cases to verify whether your code can perform tasks correctly).

In [ ]:
# Syntax error example
cos(2)

In [ ]:
# Semantic error example for the quadratic formula
a = 3
b = 6
c = 3
root1 = -b - math.sqrt(b ** 2 - 4 * a * c) / 2 * a # incorrect order of operations
print(root1)

### Activity 2: Errors
Run the code cells below. Based on the output, try to explain why the error is occuring.

In [ ]:
6 / (5 * 2 - 10)

In [ ]:
5 + '1'

## Object types
Each object created in Python has a type associated with it. The type of an object can be found with `type(object_name)`. This week we look at the three types below. As the semester progresses, you will be introduced to more types such as booleans, lists, Numpy arrays and Pandas dataframes.

| Type | Description |
| ----------- | ----------- |
| `int` | integers |
| `float` | floating point numbers |
| `string` | a sequence of text |

For example, we see below three ways of describing the number 5. Each of these has a different type associated with it.

In [ ]:
type(5)

In [ ]:
type(5.0)

In [ ]:
type('5')

Why is an object's type so important? An objects type will influence how Python interprets and operates on the object.

In [ ]:
5 + 1

In [ ]:
'5' + '1'

When you have an expression containing mixed numeric types (eg. floats and integers), the operand with the narrower type will be widened to that ot the other.

In [ ]:
a = 5 # an integer
b = 1.0 # a float
c = a + b
print(c)

In [ ]:
type(c) # has the wider type, which is a float

A Python variable can be used to store a value of any type. The stored value has a type, but the variable does not. This is because Python is a dynamically-typed language.

In [ ]:
type(a)

In [ ]:
a = 5.2
type(a)

### Activity 3:

Use the type function to find the type of each of the following objects. These contain examples of data types we will be learning about in weeks 1-6.
* 3
* 5.2
* 1 + 2j
* 'hello world'
* print
* None
* True
* [1, 2, 3, 4]
* (1, 2, 3, 4)
* {1, 2, 3, 4}
* {'EGD103': 'Computing and Data for Engineers', 'EGD120': 'Foundations of Electrical Engineering'}