# Topic: Python Expressions
Writing simple Python expressions to make calculations

## Python Concepts: 
* variables
* arithmetic operators
* calling built-in functions
* accessing modules

### Keywords
* <code>import</code>

### Modules:
<code>math</code> [<code>pi</code>, <code>tan</code>, <code>sin</code>, <code>cos</code>, <code>sqrt</code>]

---

<u><b>EXERCISES:</b></u>
<br>
[JupyterLab Basics](#jupyterlab_basics)
<br>

[Basic Calculations](#Basic_Calculations):
> [Distance Travelled](#distance_travelled)<br>
> [Radians to Degrees](#radians_to_degrees)<br>

[Algebraic Expressions](#Algebraic_Expressions):
> [$5x^3$](#5x^3)<br>
> [$4x^2 + 7x^3 - 9x + 5$](#4x^2+7x^3-9x+5)<br>
> [$\sqrt{4x^3}$](#sqrt(4x^3))<br>
> [$7\sqrt{x^{x+1}}$](#7sqrt(x^(x+1)))<br>

[Geometry](#Geometry)<br>
> [Area of a Triangle](#area_triangle)<br>
> [Volume of a Cylinder](#volume_cylinder)<br>
> [Length of Hypotenuse](#length_hypotenuse)<br>
> [Area of Trapezoid](#area_trapezoid)<br>
> [Surface Area of Cone](#surface_area_cone)<br>
> [Area of Regular Polygon](#area_regular_polygon)<br>

[Errors](#Errors)<br>
> [Pythagorean Trig Identity](#pythagorean_trig_identity)<br>
> [Debugging Arithmetic Expression](#debugging_arithmetic_expression)<br>
> [Debugging Formula](#debugging_formula)<br>

[Other Engineering Formulas](#pltw)<br>
<hr>

# <a name="jupyterlab_basics"></a>JupyterLab Basics

Each 'cell' in a JupyterLab Notebook can contain one of three content <em>types</em>:
* Code
* Markdown or
* Raw 

You can change the <em>type</em> by using the dropdown widget on the menu, which display the current <em>type</em> selected.  (Initially "Markdown" should be visible.)

The result of 'executing' a cell (by either using the 'play' button on the menu (triangle), or by using the key combination Control+ENTER) depends on the cell <em>type</em>.  If it is <strong>Code</strong>, that code is evaluated.  If it is <strong>Markdown</strong>, the text will be displayed according to the markup tags used to format the text. If it is <strong>Raw</strong>, the text will simply be displayed 'as is', ie as plain text.  Notice that, before execution, the contents of cells looks different depending on the selected <em>type</em>.

A <em>collapsed</em> cell will show as a large elipses, and can be expanded by clicking on the elipses.  See the tracing exercises below.  To collapse a cell, use the View menu option.

##### Markdown
You will see that this cell is Markdown, and it contains special markup 'tags' surrounding parts of the text to change the way it is displayed when executed.  To look at those tags, double click on any of the text here.  For example you will see how we have marked up the headings and the bulleted lists, and emphasised some words (with italics and bolding).  To render the cell as we intended, simply execute the cell again.

Markdown cells will be used to introduce exercises, supply any useful information/resources and to group related exercises into sections.

##### Code
Most of your interaction with exercise files like this one will be in Code cells.  Generally there will be some Python comments giving a brief introduction to the exercise, potentially followed by some code, then a description of the task you are to complete.  After writing your solution, execute the cell to evaluate your Python code.  Any result of evaluating your code will be displayed in a new cell below the code.  Anything printed will just appear at the bottom of the current cell.

If your code produces an error, read the error message to understand which part of your code is causing the error, and what type of error it is.  This will hopefully be a useful hint for debugging!

### Resources:
* <a href = "https://jupyter.org/">Jupyter Home Page</a> (including links to installation files)
* <a href ="https://jupyterlab.readthedocs.io/en/stable/user/interface.html">JupyterLab Interface doco</a>
* <a href="https://www.markdownguide.org/getting-started/">Markdown - Getting Started</a>
* <a href ="https://www.markdownguide.org/basic-syntax/">Markdown - Basic Syntax Guide</a>
* <a href ="https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet">Markdown for Jupyter Notebooks Cheatsheet</a> (IBM)
* <a href="https://docs.python.org/3/">Python3 Documentation</a>

<hr>

# <a name="Basic_Calculations"><a> Basic Calculations

<a name="distance_travelled"></a>
<b>Distance Travelled</b>

Using the supplied Python variables, write an expression to calculate the distance travelled in kms using the formula: $distance = speed \times time$.

NB: you will need to convert minutes to hours

In [1]:
# Some Python variables
speed = 1000 # in kms/hr
time = 2 # in minutes

# Write your answer here
# The result should be 33.333333333333336
speed * time / 60

33.333333333333336

<a name="radians_to_degrees"></a>
<b>Radians to Degrees</b>

Using the supplied Python variable, write an expression to calculate the angle in degrees, using the formula: $degrees = radians \times \frac{180}{\pi}$.

In [2]:
# Import the math module to use pi
import math

# A Python variable
radians = 100

# Write your answer here
# The result should be 5729.5779513082325
radians * 180 / math.pi

5729.5779513082325

<hr>

<a name="Algebraic_Expressions"><a>
# Algebraic Expressions

We will assign the value 3 to the variable x for use in the following examples
(but the expressions will be written the same regardless of the value of variable x)

In [4]:
# store the value 3 in variable x
x = 3

Write Python expressions for each of the following algebraic expressions:

<a name="5x^3"></a>
$5x^3$

In [5]:
# Write your answer here.
# The result should be 135
5 * x ** 3

135

<a name="4x^2+7x^3-9x+5"></a>
$4x^2 + 7x^3 - 9x + 5$

In [6]:
# Write your answer here.
# The result should be 203
4 * x ** 2 + 7 * x ** 3 - 9 * x + 5

203

<a name="sqrt(4x^3)"></a>
$\sqrt{4x^3}$

In [7]:
# Write your answer answer here.
# The result should be 10.392304845413264
math.sqrt(4 * x ** 3)

10.392304845413264

<a name="7sqrt(x^(x+1))"></a>
$7 \sqrt{x^{x+1}}$

In [8]:
# Write your answer here.
# The result should be 63.0
7 * math.sqrt(x ** (x + 1))

63.0

<hr>

<a name="Geometry"><a>
# Geometry

Formulas:
    <ul>
        <li>area of triangle = $\frac{hb}{2}$</li>
        <li>volume of a cylinder = $\pi r^2h$</li>
        <li>hypotenuse = $\sqrt{a^2 + b^2}$</li>
        <li>area of trapezoid = $\frac{(a + b)}{2} h$</li>
        <li>surface area of right circular cone = $\pi r^2 + \pi r\sqrt{r^2 + h^2}$</li>
        <li>area of a regular polygon = $n r^2 tan(\frac{\pi}{n})$</li>
    </ul>

<a name="area_triangle"></a>
<b>Calculate the area of a triangle</b>

In [9]:
height = 3.5
base = 7.1

# Write your answer here.
# The result should be 12.424999999999999
0.5 * base * height

12.424999999999999

<a name="volume_cylinder"></a>
<b>Calculate the volume of a cylinder</b>

In [10]:
radius = 2
height = 3.4

# Write your answer here.
# The result should be 42.725660088821186
math.pi * radius ** 2 * height

42.725660088821186

<a name="length_hypotenuse"></a>
<b>Calculate the length of the hypotenuse of a triangle</b>

In [11]:
side_a = 18.3
side_b = 9.42

# Write your answer here.
# The result should be 20.582186472773003
math.sqrt(side_a ** 2 + side_b ** 2)

20.582186472773003

<a name="area_trapezoid"></a>
<b>Calculate the area of a trapezoid</b>

In [12]:
base_a = 3.112
base_b = 5.0001
height = 9.2

# Write your answer here.
# The result should be 37.315659999999994
0.5 * (base_a + base_b) * height

37.315659999999994

<a name="surface_area_cone"></a>
<b>Calculate the surface area of cone</b>

In [13]:
radius = 3
height = 8

# Write your answer here.
# The result should be 108.79967207790783
math.pi * radius ** 2 + math.pi * radius * math.sqrt(radius ** 2 + height ** 2)

108.79967207790783

<a name="area_regular_polygon"></a>
<b>Calculate the area of a regular polygon</b>

In [14]:
number_sides = 5
radius = 7.4

# Write your answer here.
# The result should be 198.92734416786783
number_sides * radius ** 2 * math.tan(math.pi / number_sides)

198.92734416786783

<hr>

<a name="Errors"><a> 
# Errors   

We often encounter errors when programming in Python. In python, there are two main types of errors:
* Syntax errors: These occur when invalid syntax (language) is used to describe a task. Python will provide a clear error message if there is a syntax error.
* Semantic errors: These occur when an incorrect process has been instructed (eg. telling someone to turn left, when they were supposed to turn right). Python cannot detect these errors, so it is up to the programmer to properly test their code for any semantic errors.

<a name="pythagorean_trig_identity"></a>
<b>Debugging - Pythagorean trigonometric identity</b> 
<br/>    
Does:
    $sin ^2(x) + cos ^ 2(x)$ equal $1?$

In [15]:
# Find and fix the errors in the following code

x = math.pi / 4

sin**2(x) + cos**2(x) = 1

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2454702697.py, line 5)

In [16]:
# There are multiple errors in this example. Let's fix them one at a time so you understand how to interpret error messages in Python.
# The first error message suggests there is a syntax error regarding assignment (use of the = operator). 
# In this example, we don't want to assign. We want to check equality. Because of this, we need the == operator as suggested in the error message.
sin**2(x) + cos**2(x) == 1

<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_116/654908932.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x) == 1
/tmp/ipykernel_116/654908932.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x) == 1
/tmp/ipykernel_116/654908932.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x) == 1
/tmp/ipykernel_116/654908932.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x) == 1
/tmp/ipykernel_116/654908932.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x) == 1
/tmp/ipykernel_116/654908932.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  sin**2(x) + cos**2(x) == 1

NameError: name 'sin' is not defined

In [17]:
# We now see a different error message appear. It suggests that the name sin isn't defined.
# This is because the sin function is located in the math module. We need to call using math.sin. Same applies for the cos function.
math.sin**2(x) + math.cos**2(x) == 1

<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1
/tmp/ipykernel_116/185267796.py:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  math.sin**2(x) + math.cos**2(x) == 1

TypeError: 'int' object is not callable

In [18]:
# We get another error message after that correction. Now we get a message stating an integer (2) is not callable. 
# We need to call the sin function, not the integer 2. Same for the cos function also.
math.sin(x) ** 2 + math.cos(x) ** 2 == 1

False

In [19]:
# Finally we don't have an error message! Our result here is unexpected though. We have entered the Pythagorian identity, which is
# true for any input angle. The reason we get an error is due to floating point arithmetic (essentially rounding errors) from the computer.
# For this reason, we often use the isclose function in the math module to compare equality.
# This function checks whether two values are within a relative tolerance of 1e-09 from one another.
math.isclose(math.sin(x) ** 2 + math.cos(x) ** 2, 1)

True

<a name="debugging_arithmetic_expression"></a>
<b>Debugging Arthimetic Expression</b>

The expression below is well formed, and looks like it should work, but doesn't. Before you run the code, try to determine what the issue is. Then evaluate the expression, and read the error message.

In [20]:
# Find and fix the errors in the following code

(9 * 7) / ((6 + 2) - 8)

ZeroDivisionError: division by zero

In [ ]:
# We get a division by zero error when running this code. We can't do much to correct this example since we don't have any context
# around where these numbers have coming from. In a contextualised problem, we can typically find a way to avoid dividing by zero.

<a name="debugging_formula"></a>
<b>Debugging Formula</b>

The code below attempts to convert a temperature from Fahrenheit to Celcius. However, it is not returning the correct answer of 100. Run the code, and then modify it so it produces the correct value.

NB. You may need to research what the correct conversion formula is.

In [21]:
# Find and fix the errors in the following code

fahrenheit = 212

celsius = fahrenheit - 32 * 5 / 9

# now display the variable
celsius

194.22222222222223

In [25]:
# In this example, the code has a semantic error that is not detected by Python. 
# The error is caused by an incorrect order of operations. We need to subtract 32 first before performing multiplication and division.
celsius = (fahrenheit - 32) * 5 / 9
celsius

100.0

<a name="pltw"></a>
# Other Engineering Formulas

Select some Engineering formulas from this popular cheat sheet:
<a href="https://s3.amazonaws.com/lms-content.pltw.org/curriculum/HS/ENG/GeneralResources/Student/Engineering_FormulaSheet.pdf">PLTW Engineering Formula Sheet</a> and translate them into Python expressions